{% extends 'layout/basic.html' %}

{%block content%}
{%for bb in bbs%}
<div class="b">
    <h2>{{bb.title}}</h2>
    <p>{{bb.content}}</p>
    <p><a href="{% url 'by_rubric' bb.rubric.pk %}">{{bb.rubric.name}}</a></p>
    <p>{{bb.published|date:"d.m.Y H:i:s"}}</p>
    <h2><a href="{% url 'detail' pk=bb.pk %}">{{ bb.title }}</a></h2>
</div>

{%endfor%}
<div>
    {% if page.has_previous %}
    <a href="?page={{page.previous_page_number }}">&lt;</a>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    {% endif %}
    Part №{{page.number}} from {{ page.paginator.num_pages }}
    {% if page.has_next %}
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="?page={{ page.next_page_number }}">&gt;</a>
    {% endif %}
</div>
{%endblock%}